/* najmniejsze header u gory pod nim nav i lista pionowo, potem sa artykuly 1 pod 2, i potem tylko zajawki jedna pod druga i na koncu footer
potem header u gory pod nim nav ale poziomo w mainie  zdjecie obok p, potem zajawki i na koniec advert i footer
potem header na lewo h1 po prawej linki pionowo, na lewo jest main 2 artykuly   po prawej adverty tak 60-40 poweidzmt  szerokosciowo zajawki na dole na koniec footer
ostatnie zmienia sie tylko nav poziomo */
body{
    display: flex;
    justify-content: center;
    margin: 0px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
}
header{
    padding: 10px;
    border: 1px solid rgb(129, 129, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    width: 85vw;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header li{
list-style-type: none;
}
header *{
    margin: 2px 0px;
}
header button{
    width: 100px;
    padding: 3px 0px;
    background-color: rgb(228, 228, 228);
    color: rgb(192, 192, 192);
    border-radius: 5px;
    border:none
}
header button:hover{
    background-color: rgb(207, 207, 207);
}
main{
    order: 0 ;
    padding: 10px;
    border: 1px solid rgb(129, 129, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    width: 85vw;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    width: 85vw;
}
main h2{
    text-align: center;
}
main figure>img{
    width: 80vw;
    height: 20vh;
}
p{
    width: 100%;
}
section{
    order: 2;
    padding: 10px;
    border: 1px solid rgb(129, 129, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    width: 85vw;
    
}
aside{
    order: 2;
    padding: 10px;
    border: 1px solid rgb(129, 129, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    width: 85vw;
    display: none;
}
footer{
    order: 4;
    padding: 10px;
    border: 1px solid rgb(129, 129, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    margin-top: 3vh;
}
footer p{
    
    text-align: center;
}
/* 576 768 926 */
@media (min-width: 576px){
    nav ul{
        display: flex;
        justify-content: center;
    }
    nav ul li{
        margin: 0 1vw;
    }
    aside{
        display: block;
    
    }
    main article{
        flex-direction: row;
        flex-wrap: wrap;
    }
    main article h2{
        flex-basis: 100%;
    }
    main figure>img{
        width: auto;
        height: auto;
    }
}