/* najmniejsze header u gory pod nim nav i lista pionowo, potem sa artykuly 1 pod 2, i potem tylko zajawki jedna pod druga i na koncu footer
potem header u gory pod nim nav ale poziomo w mainie  zdjecie obok p, potem zajawki i na koniec advert i footer
potem header na lewo h1 po prawej linki pionowo, na lewo jest main 2 artykuly   po prawej adverty tak 60-40 poweidzmt  szerokosciowo zajawki na dole na koniec footer
ostatnie zmienia sie tylko nav poziomo */
body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header li{
list-style-type: none;
}
